<div class="fluid-container">
    <div class="card" style="width:55rem;">
        <div class="card-header">
            <h3 class="card-title">Sobre mí <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </h3>
        </div>
        <div class="card-body text-center">
            <div class="jumbotron">
                <h4 class="display-5">Soy Daniel, un tecnólogo en Sistematización de Datos egresado de la Universidad
                    Distrital Francisco José de Caldas, con intereses en la tecnología en general, principalmente en el
                    campo de la programacion, actualmente estoy en busca de
                    un puesto de desarrollador junior donde pueda aplicar mis habilidades y conocimientos.</h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Habilidades <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                    <path
                        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                    <path
                        d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                </svg>
            </h3>
        </div>
        <div class="card-body">
            <img [src]="'assets/images/logo-html.png'" class="rounded" width="100" height="100" alt="HTML">
            <img [src]="'assets/images/logo-css.png'" class="rounded" width="120" height="120" alt="CSS">
            <img [src]="'assets/images/logo-javascript.png'" class="rounded" width="80" height="100" alt="JAVASCRIPT">
            <img [src]="'assets/images/logo-bootstrap.png'" class="rounded" width="80" height="80" alt="BOOTSTRAP">
            <img [src]="'assets/images/logo-angular.png'" class="rounded" width="100" height="100" alt="ANGULAR">
            <img [src]="'assets/images/logo-php.png'" class="rounded" width="100" height="80" alt="PHP">
            <img [src]="'assets/images/logo-node-js.png'" class="rounded" width="100" height="80" alt="NODE.JS">
            <img [src]="'assets/images/logo-java.png'" class="rounded" width="100" height="100" alt="JAVA">
            <img [src]="'assets/images/logo-mysql.png'" class="rounded" width="100" height="100" alt="MYSQL">
            <img [src]="'assets/images/logo-android-studio.png'" class="rounded" width="150" alt="MYSQL">
            <img [src]="'assets/images/logo-github.png'" class="rounded" width="150" alt="MYSQL">
        </div>
    </div>
</div>