<div class="fluid-container">
    <div id="sobre-mi" class="card" style="width:112rem;">
        <div class="card-header">
            <h3 class="card-title">Experiencia <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.4 5.4 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z"/>
              </svg>
            </h3>
        </div>
        <div class="card-body">
            <div class="jumbotron">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Desarrollador Full Stack</h5>
                            <small> 2022 - 2024</small>
                        </div>
                        <h6 class="mb-1">Universidad Distrital Francisco José de Caldas</h6>
                        <p class="mb-1">Tareas realizadas:</p>
                        <small>
                            <ul>
                                <li>Generar o ajustar y validar los mockups con el analista y el usuario.</li>
                                <li>Diseñar y desarrollar los componentes de desarrollo (menús, funcionalidades,
                                    motor de reglas, servicios, servicios interoperables, etc., que apliquen).</li>
                                <li>Diseñar y desarrollar el modelo de datos.</li>
                                <li>Diseñar y desarrollar la interfaz de usuario.</li>
                                <li>Diseñar y desarrollar los reportes que apliquen.</li>
                                <li>Realizar las pruebas unitarias.</li>
                                <li>Validar con el analista y el usuario y ajustar las funcionalidades desarrolladas.</li>
                                <li>Realizar el despliegue y puesta en producción.</li>
                                <li>Realizar la entrega y capacitación al usuario, junto con el gerente de proyecto, el
                                    analista y el líder técnico.</li>
                            </ul>
                        </small>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Auxiliar Audiovisuales</h5>
                            <small> 15/02/2021 - 08/10/2021</small>
                        </div>
                        <h6 class="mb-1">Universidad de los Andes</h6>
                        <p class="mb-1">Tareas realizadas:</p>
                        <small>
                            <ul>
                                <li>Atender oportunamente las reservas de equipos y servicios audiovisuales, solicitados por
                                    los usuarios, facilitando el desarrollo de las clases y eventos.</li>
                                <li>Instalar y operar diferentes equipos audiovisuales (video beams, micrófonos, cámaras,
                                    computadores, equipos de automatización, entre otros.)</li>
                                <li>Realizar inventario de los equipos, verificar su funcionamiento, realizar limpieza y
                                    mantenimiento preventivo y custodiar los mismos.</li>
                                <li> Elaboración de reportes de inventarios, cierres diarios de atención del servicio, reporte y
                                    seguimiento de solicitudes de mantenimiento, actualización de programación de reservas y
                                    reporte de las novedades que se presenten durante la prestación de los servicios.</li>
                            </ul>
                        </small>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Pasante</h5>
                            <small> 07/09/2018 - 30/09/2019</small>
                        </div>
                        <h6 class="mb-1">Red de Datos UDNET(Universidad Distrital Francisco José de Caldas)</h6>
                        <p class="mb-1">Tareas realizadas:</p>
                        <small>
                            <ul>
                                <li>Desarrollar un módulo de software en el sistema de administración y monitorización de
                                    Data Center (DCIM).</li>
                                <li>Diagnóstico y ejecución de acciones correctivas con su debida documentación, sobre la
                                    infraestructura de Networking que administra la Red de Datos UDNET de la Universidad
                                    Distrital.</li>
                                <li>Levantamiento de Información de puntos de red.</li>
                                <li>Documentación de plano y mapa de red.</li>
                                <li>Rotulado de puntos de red en usuario final y Patch Panel.</li>
                            </ul>
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>