<div id="proyectos" class="container-xxl">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Proyectos <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                    <path
                        d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                </svg>
            </h3>
        </div>
        <div class="card-body projects">
            <div class="card" style="width: 18rem;">
                <img [src]="'assets/images/rick-y-morty.png'" height="51%" class="card-img-top" alt="RICK & MORTY">
                <div class="card-body">
                    <h5 class="card-title">Rick & Morty</h5>
                    <p class="card-text">Proyecto desarrollado en Node.js, usando el framework de Angular, Bootstrap y
                        utilizando
                        la API de Rick & Morty.</p>
                    <a href="https://mechaz123.github.io/RICK_Y_MORTY/" class="btn btn-danger">Visitar</a>
                    <a href="https://github.com/Mechaz123/RICK_Y_MORTY" class="btn btn-success">Github</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img [src]="'assets/images/ddd.png'" class="card-img-top" alt="RICK & MORTY">
                <div class="card-body">
                    <h5 class="card-title">Diseño Drywall Decoracion</h5>
                    <p class="card-text">Proyecto desarrollado en PHP nativo con framework de Bootstrap, para dar a
                        conocer la empresa.</p>
                    <a href="http://disenodrywalldecoracion.herokuapp.com/" class="btn btn-danger">Visitar</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img [src]="'assets/images/CRUD.png'" height="51%" class="card-img-top" alt="RICK & MORTY">
                <div class="card-body">
                    <h5 class="card-title">CRUD en PHP</h5>
                    <p class="card-text">Proyecto desarrollado en PHP nativo con framework de Bootstrap, con base de
                        datos en MySQL.</p>
                    <a href="http://mechaz123.alwaysdata.net/" class="btn btn-danger">Visitar</a>
                    <a href="https://github.com/Mechaz123/CRUD-PHP" class="btn btn-success">Github</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <h1 class="text-center">
                <video width="60%" controls autoplay loop>
                    <source [src]="'assets/videos/ARDUINO.mp4'" type="video/mp4">
                </video>
                </h1>   
                <div class="card-body">
                    <h5 class="card-title">Proyecto en ARDUINO</h5>
                    <p class="card-text">Proyecto desarrollado con una matriz 5D (5 dimensiones), con un teclado numero
                        y una matriz de leds 8x8.</p>
                    <a href="https://github.com/Mechaz123/Arduino_5D" class="btn btn-success">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>